body{
    margin: 0 auto;
    padding: 0;
}


@media (min-width: 1000px) {  


header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px -18px rgba(0, 0, 0, 0.25);;
}

header .icon-logo {
    margin-left: 117px;
    margin-top: 20px;
    margin-bottom: 20px;
}

header .input-search {
    width: 292px;
    height: 49px;
    border-radius: 12px;
    
    background-color: #E9ECEF;

    margin-right: 115px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 30px;
    padding-right: 10px;
    border: none;
    outline: none;

    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #868E96;
}   

header .icon-search {
    position: absolute;
    width: 18px;
    height: 18px;    
    padding-left: 5px;
    margin-top: 27.5px;
    margin-bottom: 27.5px;
}

.nav-container {
    display: flex;
    margin-left: 115px;
    margin-top: 50px;
}

.nav-container button {
    display: flex;
    height: 48px;
    
    background-color: #FFF7F4 ;
    margin-left: 28px;
    padding: 0px 20px 0px 20px;
    border-radius: 32px;
    border: none;
    outline: none;
    cursor: pointer;

    color: #212529;
    line-height: 19.36px;
    align-items: center;
    
    font-size: 16px;
    font-weight: 500;
    
}

.nav-container button:hover {
    background-color: #FF2253;
    color: #F8F9FA;
}

.nav-container button:focus {
    background-color: #FF2253;
    color: #F8F9FA;
}


.nav-container button img{
    padding-right: 15px;
}

.card-container {
    max-width: 320px;
    height: 56px;
    margin-left: 76.5%;
    margin-top: -50px;
    border-radius: 12px 12px 0px 0px;
    background: #FF2253;
    position: fixed;
}

.card-container .card-header {
    display: flex;
    padding-top: 23px;
    padding-left: 23px;
    align-items: center;
    justify-content: center;
    width: 71px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;

}

.card-container .card-header img {
    margin-left: 20px;
    margin-right: 20px;
}

.card-container .card-body {
    display: flex;
    flex-direction: column;

    margin-top: 13px;

    justify-content: center;
    align-items: center;
    
    min-height: 296px;
    max-height: 296px;
    width: 320px;
    background-color: #F8F9FA;
}

.card-container .card-body p{
    color: #868E96;
    width: 243px;
    height: 44px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;

    margin-top: 35px;
}

.card-container .amount-products,
.card-container .price-all-products{
    display: none; /* ALTERAR PARA FLEX QUANDO TIVER PRODUTOS */
    justify-content: space-between;
    align-items: center;

    height: 58px;
    width: 320px;
    background: #F8F9FA;
}

.card-container .price-all-products{
    background-color: #ffffff;
}

.card-container .amount-products p,
.card-container .price-all-products p{
    margin-left: 18px;
    margin-right: 18px;
}

.template-container{
    display: flex;
    max-width: 1200px;
    margin-left: 105px;
}

.template-container ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    list-style: none;

    margin-top: 50px;

}

.template-container ul li{
    display: flex;
    margin-bottom: 50px;
    margin-right: 43px;
    width: 303px;
    height: 397px;

    flex-wrap: wrap;
    flex-direction: row;

    list-style: none;

    border: none;
}

.template-container ul li .img-item {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    border: 3px solid #FFE9EE;
    box-sizing: border-box;
}

.template-container ul li:hover .img-item {
    border: 3px solid #FF2253;
    box-sizing: border-box;

}

.template-container ul li h2 {
    color: #000000;
    font-size: 16px;
    line-height: 27px;
    margin: 16px 0px;

}

.template-container ul li .span-resume{
    color:#868E96;
    width: 290px;
    font-size: 14px;
    line-height: 24px;
}

.template-container ul li .span-filter{
    color:#868E96;
    margin-top: 10px ;
    font-size: 12px;
}

.template-container ul li div {
    display: flex;
    width: 100%;
    justify-content: end;
}

.template-container ul li div img {
    background-color:#E4F7EF;
    margin-top: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    
}

.template-container ul li div p {
    font-size: 14px;
    color: #212529;

    height: 20px;
    width: 70px;

    font-weight: bold;
    line-height: 20px;
}
}